{% extends "layout.html" %}

{% block main %}
    <form action="/buy" method="post">
        <input name="symbol" autocomplete="off" type="text" placeholder="Symbol" required list="symbols">
        <datalist id="symbols">
            <option value="NFLX"> Netflix</option>
            <option value="MSFT"> Microsoft</option>
            <option value="AAPL"> Apple</option>
            <option value="AMZN"> Amazon.com</option>
            <option value="INTC"> Intel</option>
            <option value="AMD"> AMD</option>
            <option value="NVDA"> Nvidia</option>
            <option value="TSLA"> Tesla</option>
        </datalist>
        <input name="shares" type="number" placeholder="Quantity">
        <button type="submit">Submit</button>
    </form>

{% endblock %}
